<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr">

    <xacro:arg name="use_ros2_control" default="true"/>

    <xacro:include filename="amr_core.xacro"/>

    <xacro:if value="$(arg use_ros2_control)">
      <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
      <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>

    <!-- Lidar -->
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="chassis" name="lidar_frame" topic="/velodyne" organize_cloud="false" hz="10" samples="440"  max_range="3" gpu="true">
      <origin xyz="0.73 0 0.825" rpy="0 0 0" />
    </xacro:VLP-16>
    <!-- ARM -->
    <!-- <xacro:include filename="$(find tm_description)/xacro/tm5-900.urdf.xacro"/>
    <joint name="chassis_base_link" type="fixed">
      <parent link="chassis"/>
      <child link="base"/>
      <origin xyz="0.37 -0.14 0.69" rpy="0 0 ${pi/2}" />
    </joint> -->
</robot>